@import "tailwindcss";
@import "tw-animate-css";

:root {
  --radius: 0.5rem;
}

body {
  background-color: rgb(255, 255, 255);
  color: rgb(15, 23, 42);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: inherit;
}

.dark body {
  background-color: rgb(2, 6, 23);
  color: rgb(203, 213, 225);
}
